<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<footer>
    <hr>
    <div class="w-full custom-nav p-4 rounded">
        <div class="row">
            <div class="col">
                <h3>Vision Lab</h3>
                <p class="normal-text custom-paragraph">&copy; 2023 Vision Lab</p>
            </div>
            <div class="col">
                <p>Useful Links</p>
                <a class="normal-text custom-paragraph" href="/"><i class="fas fa-fw fa-home"></i>Home Page</a><br>
                <a class="normal-text custom-paragraph" href="/about"><i class="fas fa-fw fa-user-circle"></i>About Us</a>
            </div>
            <div class="col">
                <p>Contact Us</p>
                <a class="normal-text custom-paragraph" href="mailto:alex.jerplea@gmail.com?subject=Contact"><i class="fas fa-fw fa-envelope"></i>Email</a><br>
                <a class="normal-text custom-paragraph" target="_blank" href="https://github.com/lolismek/Vision_Lab"><i class="fab fa-fw fa-github"></i>Github</a>
            </div>
        </div>
    </div>
</footer>