<html>
<%- include('./partials/head.ejs'); %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<style>
    .custom-bg {
        background-color: #171719;
    }
    .custom-nav {
        background-color: #27272a;
    }
    body {
        font-weight: bold;
        overscroll-behavior: contain;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    footer {
        margin-top: auto;
    }
    .custom-text-area{
        background-color: #2d2d2d !important;
    }
    .custom-paragraph {
      color:  #b2b2b2;
    }
    .normal-text {
      font-weight: normal;
    }
</style>
<body class="p-4 mb-2 custom-bg text-light">
    <nav class="navbar navbar-expand-lg navbar-dark custom-nav rounded">
        <a class="navbar-brand px-4 pt-2" href="/"><img src="https://cdn.discordapp.com/attachments/340044077649100800/1109773467974377482/Screenshot_2023-05-21_at_12.22.55-removebg-preview.png" width="170" height="60" salt="Logo"></a>
        <div class="collapse navbar-collapse justify-content-end px-4">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="pt-3">Change file</h1>
    <hr>
    <% if(_warn){ %>
        <p> <%= _warningMessage %> </p>
    <% } %>

    <form ref='submitForm' id='submitForm' action='<%=link%>' method='POST' encType="multipart/form-data">
        <div class="pt-3">
            <label for="sampeFile"> CSV file: </label>
        </div>
        <div class="d-inline-block">
            <input type="file" accept=".csv" name="sampleFile"/>
        </div>
        <br>

        <div class="pt-3">
            <input type='submit' value='Change' class="btn btn-primary"/>
        </div>

    </form> 

    <hr>
    <small class="normal-text custom-paragraph">If the CSV file does not respect the following conditions, our tools may not properly work for analysing the data.</small>
    <ul>
        <li><small class="normal-text custom-paragraph">File format should be CSV. <a target="_blank" href="https://cloudconvert.com">(convert here)</a></small></li>
        <li><small class="normal-text custom-paragraph">Maximum dimension of the file is 30KB. If you exceed, the software will just extract the first 20KB of your data.</small></li>
        <li><small class="normal-text custom-paragraph">Data on lines should be separated by comma (standard CSV).</small></li>
        <li><small class="normal-text custom-paragraph">Lines should not be separated by comma, but by '\n', or '\r\n' (standard CSV).</small></li>
        <li><small class="normal-text custom-paragraph">There should be no missing data.</small></li>
        <li><small class="normal-text custom-paragraph">Collumns should be labeled (the first row).</small></li>
        <li><small class="normal-text custom-paragraph">A collumn should contain the same data type. For example: <i>"boy"</i> and <i>10</i> should not be on the same collumn.</small></li>
        <li><a href="/example"><small class="normal-text">Example file</small></a></li>
    </ul>
    <%- include('./partials/footer.ejs'); %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>